body{
    background-color: rgb(203, 203, 203);
}
h1 {
    text-align: center;
    text-decoration: underline;
    color: rgb(0, 0, 0);
}
h2 {
    text-align: center;
    color: rgb(234, 7, 7);
}
h3 {
    text-align: center;
    color: black;
    text-decoration: line-through;
}
p {
    text-align: justify;
    color: black;
    letter-spacing: normal;
}