h1 {
text-align: center;
color: rgb(105, 154, 219);
}
h2 {
text-align: left;
color:rgb(57, 92, 206)
}
h3 {
text-align: right;
color: rgb(86, 169, 188);
}
p{
text-align: center;
color:rgb(60, 125, 152)
}